{% extends "layout.html" %}

{% block pageTitle %}
CCoE - AWS training
{% endblock %}

{% block header %}
<!-- {% from "govuk/components/header/macro.njk" import govukHeader %} -->

{{ govukHeader({
  homepageUrl: "home",
  serviceName: "Home Office - Cloud Centre of Excellence",
  serviceUrl: "home",
  navigation: [
    {
      href: "home",
      text: "HO - CCoE"
    },
    {
      href: "cloud_training",
      text: "Cloud Training",
      active: true
    },
    {
      href: "cloud_guidance",
      text: "Cloud Guidance"
    },
    {
      href: "#4",
      text: "Public Cloud Services"
    }
  ]
}) }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is not a live service – your <a class="govuk-link" href="#">feedback</a> is not yet required.'
}) }}
{% endblock %}

{% block content %}
{{ govukBreadcrumbs({
  collapseOnMobile: true,
  items: [
    {
      text: "Home",
      href: "home"
    },
    {
      text: "Cloud training",
      href: "cloud_training"
    },
    {
      text: "AWS training",
      href: "aws_training"
    }
  ]
}) }}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 id="h1_title" class="govuk-heading-xl">AWS training</h1>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <h2 id="learning_paths" class="govuk-heading-l">Learning paths</h2>
        <p class="govuk-body">AWS offer various learning paths on their website. We have picked the appropriate learning
          paths that
          relate to roles in Home Office. You should explore the different options in the section below and select
          the appropriate one depending on your experience, job role and interests. Selecting a learning path will
          show you all the training available for that level. You can then view the <b>e-learning</b> and the
          <b>classroom training</b> available.</p>

        <p class="govuk-body">The <a href="https://aws.amazon.com/training/path-cloudpractitioner/"
            class="govuk-link">Cloud
            Practitioner</a> learning path is intended for individuals who are looking to build and validate overall
          understanding of the AWS Cloud. This path is useful for individuals in technical, managerial, sales,
          purchasing, or financial roles who work with the AWS Cloud.</p>
        <p class="govuk-body">The <a href="https://aws.amazon.com/training/path-developing/"
            class="govuk-link">Developer</a> learning
          path is designed for software developers who want to learn how to develop cloud applications on AWS. Build
          technical skills as you progress along the path toward AWS Certification.</p>
        <p class="govuk-body">The <a href="https://aws.amazon.com/training/path-architecting/"
            class="govuk-link">Architect</a> learning
          path is designed for solutions architects, solution design engineers, and anyone who wants to learn how to
          design applications and systems on AWS. Build technical skills as you progress along the path toward AWS
          Certification. </p>
        <p class="govuk-body">The <a href="https://aws.amazon.com/training/path-operations/"
            class="govuk-link">Operations</a> learning
          path is designed for sysops administrators, systems administrators, and those in a DevOps role who want to
          learn how to create automatable and repeatable deployments of applications, networks, and systems on the
          AWS platform. Build technical skills as you progress along the path toward AWS Certification.</p>
        <p class="govuk-body">The <a href="https://aws.amazon.com/training/path-devops/" class="govuk-link">DevOps</a>
          learning path is
          designed for individuals who want to learn how to use the most common DevOps patterns to develop, deploy,
          and maintain applications in the AWS Cloud. Build technical skills as you progress along the path toward
          AWS Certification.</p>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <h2 id="how_to_book_aws_training" class="govuk-heading-l">How to book AWS training</h2>
        <p class="govuk-body">The Home Office Public Cloud Team works closely with AWS to provide training. These
          training
          events are
          classroom based and are usually taught by AWS’s specialist trainers. All the courses will be online for
          the foreseeable future.</p>
        <p class="govuk-body">As an organisation we need to redouble our efforts in Cloud Training. Our cloud providers
          have
          engaged
          with us to provide free training for Home Office staff and we need to make sure we are taking full
          advantage of this opportunity.</p>
        <p class="govuk-body">There is a wide range of free AWS training available explained below. If you would like to
          attend one of
          the courses, please contact: <a class="govuk-link"
            href="mailto:public.cloud@homeoffice.gov.uk">public.cloud@homeoffice.gov.uk</a>
        </p>

        <!-- Hidden back to nav link </a> -->
        <a href="#nav" class="govuk-skip-link">Back to start of navigation tree</a>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <h2 id="upcoming_aws_courses" class="govuk-heading-l">Upcoming AWS courses</h2>
        {% set jan2021Html %}
        <h2 class="govuk-heading-l">January</h2>
        {{ govukTable({
  head: [
    {
      text: "Course"
    },
    {
      text: "Date"
    },
    {
      text: "Time"
    }
  ],
  rows: [
    [
      {
        text: "Course One"
      },
      {
        text: "05/01/21"
      },
      {
        text: "11:00"
      }
    ],
    [
      {
        text: "Course Two"
      },
      {
        text: "14/01/21"
      },
      {
        text: "13:00"
      }
    ],
    [
      {
        text: "Course Three"
      },
      {
        text: "21/01/21"
      },
      {
        text: "10:00"
      }
    ]
  ]
}) }}
        {% endset -%}

        {% set feb2021Html %}
        <h2 class="govuk-heading-l">February</h2>
        {{ govukTable({
  head: [
    {
      text: "Course"
    },
    {
      text: "Date"
    },
    {
      text: "Time"
    }
  ],
  rows: [
    [
      {
        text: "Course One"
      },
      {
        text: "02/02/21"
      },
      {
        text: "14:00"
      }
    ],
    [
      {
        text: "Course Two"
      },
      {
        text: "16/02/21"
      },
      {
        text: "10:30"
      }
    ],
    [
      {
        text: "Course Three"
      },
      {
        text: "28/02/21"
      },
      {
        text: "12:30"
      }
    ]
  ]
}) }}
        {% endset -%}

        {% set mar2021Html %}
        <h2 class="govuk-heading-l">March</h2>
        {{ govukTable({
  head: [
    {
      text: "Course"
    },
    {
      text: "Date"
    },
    {
      text: "Time"
    }
  ],
  rows: [
    [
      {
        text: "Course One"
      },
      {
        text: "03/03/21"
      },
      {
        text: "13:00"
      }
    ],
    [
      {
        text: "Course Two"
      },
      {
        text: "17/03/21"
      },
      {
        text: "10:30"
      }
    ],
    [
      {
        text: "Course Three"
      },
      {
        text: "17/03/21"
      },
      {
        text: "13:30"
      }
    ]
  ]
}) }}
        {% endset -%}

        {{ govukTabs({
  items: [
    {
      label: "JAN 2021",
      id: "jan-2021",
      panel: {
        html: jan2021Html
      }
    },
    {
      label: "FEB 2021",
      id: "feb-2021",
      panel: {
        html: feb2021Html
      }
    },
    {
      label: "MAR 2021",
      id: "mar-2021",
      panel: {
        html: mar2021Html
      }
    }
  ]
}) }}

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <h2 id="recommended_courses" class="govuk-heading-l">Recommended courses</h2>
        <p class="govuk-body">The Home Office Public Cloud Team works closely with AWS to provide virtual classrooom
          based
          training. We
          can offer free training on 9 different courses for AWS. Please find details below.
        </p>

        {{ govukAccordion({
  id: "accordion-default",
  items: [
    {
      heading: {
        text: "Architecting on AWS"
      },
      content: {
        html: 
        "
          <p class='govuk-body'>The <a href='https://www.aws.training/SessionSearch?pageNumber=1&courseId=10002&countryName=GB'
            class='govuk-link'>Architecting on AWS</a> course is for architects who are familiar with AWS but do
          not have any formal certifications. It is recommended that you have first completed Cloud
          Practitioner
          level training first.</p>
          <p class='govuk-body'><b>This course is recommended for:</b></p>
          <ul class='govuk-list govuk-list--bullet govuk-list--spaced'>
            <li>Solutions Architects</li>
            <li>Technical Architects</li>
            <li>Anyone who needs to understand the scope of architecting on AWS</li>
          </ul>
        "
      }
    },
    {
      heading: {
        text: "Advanced Architecting on AWS"
      },
      content: {
        html: 
        "
          <p class='govuk-body'>The <a href='https://www.aws.training/SessionSearch?pageNumber=1&courseId=10000&countryName=GB'
            class='govuk-link'>Advanced Architecting on AWS</a> is intended for individuals who are experienced
          with designing scalable and elastic applications on the AWS platform. This course introduces
          specialized AWS services, including AWS Direct Connect and AWS Storage Gateway to support Hybrid
          architecture. It also covers designing best practices for building scalable, elastic, secure, and
          highly available applications on AWS.</p>
          <p class='govuk-body'><b>This course is recommended for:</b></p>
          <ul class='govuk-list govuk-list--bullet govuk-list--spaced'>
            <li>Senior/Lead Architects within Business Areas/Programmes</li>
            <li>TDA Leads</li>
          </ul>
        "
      }
    },
      {
      heading: {
        text: "Architecting on AWS Accelerator"
      },
      content: {
        html: 
        "
          <p class='govuk-body'>The <a href='https://www.aws.training/SessionSearch?pageNumber=1&courseId=37002&countryName=GB'
            class='govuk-link'>Architecting on AWS Accelerator</a> course combines Architecting on AWS and
          Advanced
          Architecting on AWS to offer a comprehensive, immersive course in cloud architecture. It covers all
          aspects of how to architect for the cloud over 5 days. You will learn how to design cloud
          architectures, starting small and working to large-scale enterprise level designs—and everything in
          between.</p>
          <p class='govuk-body'><b>This course is recommended for:</b></p>
          <ul class='govuk-list govuk-list--bullet govuk-list--spaced'>
            <li>Senior/Lead Architects within Business Areas/Programmes</li>
            <li>TDA Leads</li>
          </ul>
        "
      }
    },
      {
      heading: {
        text: "DevOps Engineering on AWS"
      },
      content: {
        html: 
        "
          <p class='govuk-body'>The <a href='https://www.aws.training/SessionSearch?pageNumber=1&courseId=10018&countryName=GB'
            class='govuk-link'>DevOps Engineering on AWS</a> teaches you how to use the combination of tools,
          practices, and cultural philosophy of DevOps to improve an organization’s ability to develop,
          deliver,
          and maintain applications and services at high velocity on AWS. This course covers Continuous
          Integration (CI), Continuous Delivery (CD), microservices, infrastructure as code, monitoring and
          logging, and communication and collaboration.</p>
          <p class='govuk-body'><b>This course is recommended for:</b></p>
          <ul class='govuk-list govuk-list--bullet govuk-list--spaced'>
            <li>Developers & Engineers who need to work in a cloud native environment using CI/CD</li>
            <li>DevOps Engineers looking after applications and platforms hosted on cloud infrastructure</li>
          </ul>
        "
      }
    },
    {
      heading: {
        text: "System Operations on AWS"
      },
      content: {
        html: 
        "
          <p class='govuk-body'>The <a href='https://www.aws.training/SessionSearch?pageNumber=1&courseId=10020&countryName=GB'
            class='govuk-link'>System Operations on AWS</a> course is designed to teach those in a systems
          administrator or Development Operations (DevOps) role how to create automatable and repeatable
          deployments of networks and systems on the AWS platform. The course covers the specific AWS features
          and tools related to configuration and deployment, in addition to best practices for configuring and
          deploying systems.</p>
          <p class='govuk-body'><b>This course is recommended for:</b></p>
          <ul class='govuk-list govuk-list--bullet govuk-list--spaced'>
            <li>SysOps Engineers</li>
            <li>DevOps Engineers looking after applications and platforms hosted on cloud infrastructure</li>
          </ul>
        "
      }
    },
    {
      heading: {
        text: "Developing on AWS"
      },
      content: {
        html: 
        "
          <p class='govuk-body'>The <a href='https://www.aws.training/SessionSearch?pageNumber=1&courseId=10017&countryName=GB'
            class='govuk-link'>Developing on AWS</a> course will teach you how to use the AWS SDK to develop
          secure
          and scalable cloud applications. It will also explore how to interact with AWS using code and learn
          about key concepts, best practices, and troubleshooting tips.</p>
          <p class='govuk-body'><b>This course is recommended for:</b></p>
          <ul class='govuk-list govuk-list--bullet govuk-list--spaced'>
            <li>Developers</li>
            <li>Software Engineers</li>
            <li>Infrastructure Engineers</li>
          </ul>
        "
      }
    },
    {
      heading: {
        text: "Planning and Designing Databases on AWS"
      },
      content: {
        html: 
        "
          <p class='govuk-body'>The <a href='https://www.aws.training/SessionSearch?pageNumber=1&courseId=38922&countryName=GB'
            class='govuk-link'>Planning and Designing Databases on AWS</a> course will teach you about the
          process
          of planning and designing both relational and nonrelational databases. By the end of this course,
          you
          will be familiar with the planning and design requirements of all 8 of these AWS databases services,
          their pros and cons, and how to know which AWS databases service is right for your workloads.</p>
          <p class='govuk-body'><b>This course is recommended for:</b></p>
          <ul class='govuk-list govuk-list--bullet govuk-list--spaced'>
            <li>Tech Leads</li>
            <li>Lead Developers/Engineers</li>
            <li>Solutions Architects</li>
            <li>Technical Architects</li>
          </ul>
        "
      }
    },
    {
      heading: {
        text: "Big Data on AWS"
      },
      content: {
        html: 
        "
          <p class='govuk-body'>The <a href='https://www.aws.training/SessionSearch?pageNumber=1&courseId=10015&countryName=GB'
            class='govuk-link'>Big Data on AWS</a> course introduces you to cloud-based big data solutions such
          as
          Amazon Elastic MapReduce (EMR), Amazon Redshift, Amazon Kinesis and the rest of the AWS big data
          platform. In this course, we show you how to use Amazon EMR to process data using the broad
          ecosystem
          of Hadoop tools like Hive and Hue. We also teach you how to create big data environments, work with
          Amazon DynamoDB, Amazon Redshift, Amazon QuickSight, Amazon Athena and Amazon Kinesis, and leverage
          best practices to design big data environments for security and cost-effectiveness.</p>
          <p class='govuk-body'><b>This course is recommended for:</b></p>
          <ul class='govuk-list govuk-list--bullet govuk-list--spaced'>
            <li>Data Scientists</li>
            <li>Architects working on Data Science Projects</li>
          </ul>
        "
      }
    },
    {
      heading: {
        text: "Security Engineering"
      },
      content: {
        html: 
        "
          <p class='govuk-body'>The <a href='https://www.aws.training/SessionSearch?pageNumber=1&courseId=10021&countryName=GB'
            class='govuk-link'>Security Engineering</a> course demonstrates how to efficiently use AWS security
          services to stay secure in the AWS Cloud. The course focuses on the security practices that AWS
          recommends for enhancing the security of your data and systems in the cloud. It highlights the
          security features of AWS key services including compute, storage, networking, and database services.
          You will also learn how to leverage AWS services and tools for automation, continuous monitoring and
          logging, and responding to security incidents.</p>
          <p class='govuk-body'><b>This course is recommended for:</b></p>
          <ul class='govuk-list govuk-list--bullet govuk-list--spaced'>
            <li>Anyone using or developing on AWS</li>
          </ul>
        "
      }
    }
  ]
}) }}

        <h2 id="aws_certifications" class="govuk-heading-l">AWS certification levels</h2>
        <p class="govuk-body">The Home Office Public Cloud Team works closely with AWS to provide certification and exam
          bookings for any of the AWS certification exams. Please find details below.</p>

        {{ govukAccordion({
    id: "accordion-default",
    items: [
      {
        heading: {
          text: "AWS Cloud Practitioner"
        },
        content: {
          html: 
          "
            <p class='govuk-body'>This fundamental-level course is intended for individuals who seek an overall understanding of the
              AWS Cloud, independent of specific technical roles. It provides a detailed overview of cloud concepts,
              AWS services, security, architecture, pricing, and support.</p>
            <p class='govuk-body'>The AWS Certified Cloud Practitioner examination is intended for individuals who have the knowledge
              and skills necessary to effectively demonstrate an overall understanding of the AWS Cloud, independent
              of specific technical roles addressed by other AWS Certifications.</p>
              <p class='govuk-body'><b>Exam rules</b></p>
            <p class='govuk-body'><b>Format:</b> Multiple Choice
              <br>
              <b>Time:</b> 90 mins
              <br>
              <b>Exam Cost:</b> Free
              <br>
              <b>Recommended length of experience:</b> Six months of fundamental AWS Cloud and industry knowledge or
              6 hours of online courses
              <br>
              <b>How to book the exam:</b> Please email: <a
                href='mailto:aaron.booth3@homeoffice.gov.uk'>aaron.booth3@homeoffice.gov.uk</a>
            </p>
          "
        }
      },
      {
        heading: {
          text: "AWS Associate Certifications"
        },
        content: {
          html: 
          "
          <p class='govuk-body'>This is the second level of certifications and it is aimed at professionals who might be new to
            technical roles or have around one years' worth of experience.</p>
          <p class='govuk-body'>There are currently three different certifications at the associate level:</p>
          <ul class='govuk-list govuk-list--bullet govuk-list--spaced'>
            <li>The AWS Certified Solutions Architect - Associate examination is intended for individuals who
              perform a solutions architect role and have one or more years of hands-on experience designing
              available, cost-efficient, fault-tolerant, and scalable distributed systems on AWS.</li>
            <li>The AWS Certified SysOps Administrator – Associate examination is intended for systems
              administrators in a systems operations role with at least one year of experience in deployment,
              management, and operations on AWS.</li>
            <li>The AWS Certified Developer - Associate examination is intended for individuals who perform a
              development role and have one or more years of hands-on experience developing and maintaining an
              AWS-based application.</li>
          </ul>
          <p class='govuk-body'><b>Exam rules</b></p>
          <p class='govuk-body'><b>Format:</b> Multiple Choice
            <br>
            <b>Time:</b> 130 mins
            <br>
            <b>Exam Cost:</b> Free
            <br>
            <b>Recommended length of experience:</b> One or more years of hands-on experience
            <br>
            <b>How to book the exam:</b> Please email: <a
              href='mailto:aaron.booth3@homeoffice.gov.uk'>aaron.booth3@homeoffice.gov.uk</a>
          </p>
          <p class='govuk-body'><b>Cloud Academy courses:</b></p>
          <ul class='govuk-list govuk-list--bullet govuk-list--spaced'>
            <li><a
                href='https://cloudacademy.com/learning-paths/aws-solutions-architect-associate-saa-c02-certification-preparation-954/'
                class='govuk-link'>Solutions Architect</a></li>
            <li><a
                href='https://cloudacademy.com/learning-paths/sysops-administrator-associate-certification-preparation-for-aws-2018-295/'
                class='govuk-link'>SysOps Administrator</a></li>
            <li><a
                href='https://cloudacademy.com/learning-paths/developer-associate-certification-preparation-for-aws-june-2018-241/'
                class='govuk-link'>Developer</a></li>
          </ul>
        "
        }
      },
        {
        heading: {
          text: "AWS Professional Certifications"
        },
        content: {
          html: 
          "
          <p class='govuk-body'>This is the third level of certification and it is aimed at current professionals with good experience of AWS.</p>
          <p class='govuk-body'>There are currently two separate certifications at the professional level and both are aimed at different job roles. See below:</p>
          <ul class='govuk-list govuk-list--bullet govuk-list--spaced'>
            <li>The AWS Certified Solutions Architect – Professional exam is intended for individuals who perform
              a solutions architect role with two or more years of hands-on experience managing and operating
              systems on AWS.</li>
            <li>The AWS Certified DevOps Engineer – Professional exam is intended for individuals who perform a
              DevOps engineer role with two or more years of experience provisioning, operating, and managing AWS
              environments.</li>
          </ul>
          <p class='govuk-body'><b>Exam rules</b></p>
          <p class='govuk-body'><b>Format:</b> Multiple Choice
            <br>
            <b>Time:</b> 180 mins
            <br>
            <b>Exam Cost:</b> Free
            <br>
            <b>Recommended length of experience:</b> Two or more years of hands-on experience
            <br>
            <b>How to book the exam:</b> Please email: <a
              href='mailto:aaron.booth3@homeoffice.gov.uk'>aaron.booth3@homeoffice.gov.uk</a>
          </p>
          <p class='govuk-body'><b>Cloud Academy courses:</b></p>
          <ul class='govuk-list govuk-list--bullet govuk-list--spaced'>
            <li><a
                href='https://cloudacademy.com/learning-paths/solutions-architect-professional-certification-preparation-for-aws-2019-377/'
                class='govuk-link'>Solutions Architect</a></li>
            <li><a
                href='https://cloudacademy.com/learning-paths/devops-engineer-professional-certification-preparation-for-aws-2019-427/'
                class='govuk-link'>DevOps Engineer Professional</a></li>
          </ul>
        "
        }
      },
        {
        heading: {
          text: "AWS Specialiality Certifications"
        },
        content: {
          html: 
          "
          <p class='govuk-body'>This is an advanced level of certification for users that have a high level of specialist technical AWS cloud experience.</p>
          <p class='govuk-body'>There are currently five different certifications within the specialist level:</p>
          <ul class='govuk-list govuk-list--bullet govuk-list--spaced'>
            <li>The AWS Certified Advanced Networking - Specialty is intended for individuals who perform complex
              networking tasks.</li>
            <li>The AWS Certified Big Data – Specialty certification is intended for individuals who perform
              complex Big Data analyses with at least two years of experience using AWS technology. A new version
              of the AWS Certified Big Data – Specialty exam will be available in April 2020 with a new name, AWS
              Certified Data Analytics – Specialty.</li>
            <li>The AWS Certified Security – Specialty is intended for individuals who perform a security role
              with at least two years of hands-on experience securing AWS workloads.</li>
            <li>The AWS Certified Machine Learning - Specialty certification is intended for individuals who
              perform a development or data science role. It validates a candidate's ability to design, implement,
              deploy, and maintain machine learning (ML) solutions for given business problems.</li>
            <li>The AWS Certified Alexa Skill Builder - Specialty certification is intended for individuals who
              perform a role as an Alexa skill builder. It validates a candidate’s ability to build, test, and
              publish Amazon Alexa skills.</li>
      </ul>
          <p class='govuk-body'><b>Exam rules</b></p>
          <p class='govuk-body'><b>Format:</b> Multiple Choice
            <br>
            <b>Time:</b> 170 mins
            <br>
            <b>Exam Cost:</b> Free
            <br>
            <b>Recommended length of experience:</b> Several years of AWS experience with hands on experience in the specialist area
            <br>
            <b>How to book the exam:</b> Please email: <a
              href='mailto:aaron.booth3@homeoffice.gov.uk'>aaron.booth3@homeoffice.gov.uk</a>
          </p>
          <p class='govuk-body'><b>Cloud Academy courses:</b></p>
          <ul class='govuk-list govuk-list--bullet govuk-list--spaced'>
            <li><a
                href='https://cloudacademy.com/learning-paths/security-specialty-certification-preparation-for-aws-201/'
                class='govuk-link'>Security Specialist</a></li>
            <li><a
                href='https://cloudacademy.com/learning-paths/aws-machine-learning-specialty-certification-preparation-453/'
                class='govuk-link'>Machine Learning</a></li>
            <li><a
                href='https://eur02.safelinks.protection.outlook.com/GetUrlReputation'
                class='govuk-link'>Advanced Networking</a></li>
          </ul>
        "
        }
      }
    ]
  }) }}

        <a href="#h1_title" class="govuk-link">Back to top</a>

      </div>
      <div class="govuk-grid-column-one-third">
        <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            Page content
          </h2>
          <nav id="nav" role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a href="#learning_paths">
                  Learning paths
                </a>
              </li>
              <li>
                <a href="#how_to_book_aws_training">
                  How to book training
                </a>
              </li>
              <li>
                <a href="#upcoming_aws_courses">
                  Upcoming courses
                </a>
              </li>
              <li>
                <a href="#recommended_courses">
                  Recommended courses
                </a>
              </li>
              <li>
                <a href="#aws_certifications">
                  AWS certifications
                </a>
              </li>
            </ul>
          </nav>
        </aside>
        <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            Related pages
          </h2>
          <nav id="nav" role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a href="cloud_training.html">
                  Cloud training
                </a>
              </li>
              <li>
                <a href="azure_training.html">
                  Azure training
                </a>
              </li>
            </ul>
          </nav>
        </aside>
      </div>

    </div>

  </main>

</div>
{% endblock %}

{% block footer %}

{{ govukFooter({
  navigation: [
    {
      title: "Service index",
      columns: 2,
      items: [
        {
          href: "home",
          text: "HO - CCoE"
        },
        {
          href: "cloud_training",
          text: "Cloud Training"
        },
        {
          href: "cloud_guidance",
          text: "Cloud Guidance"
        },
        {
          href: "#4",
          text: "Public Cloud Services"
        }
      ]
    }
  ]
}) }}

{% endblock %}