{% extends "layout.html" %}

{% block pageTitle %}
CCoE - Cloud guidance
{% endblock %}

{% block header %}
<!-- {% from "govuk/components/header/macro.njk" import govukHeader %} -->

{{ govukHeader({
  homepageUrl: "home",
  serviceName: "Home Office - Cloud Centre of Excellence",
  serviceUrl: "home",
  navigation: [
    {
      href: "home",
      text: "HO - CCoE"
    },
    {
      href: "cloud_training",
      text: "Cloud Training"
    },
    {
      href: "cloud_guidance",
      text: "Cloud Guidance",
      active: true
    },
    {
      href: "#4",
      text: "Public Cloud Services"
    }
  ]
}) }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is not a live service – your <a class="govuk-link" href="#">feedback</a> is not yet required.'
}) }}
{% endblock %}

{% block content %}
{{ govukBreadcrumbs({
  collapseOnMobile: true,
  items: [
    {
      text: "Home",
      href: "home"
    },
    {
      text: "Cloud guidance",
      href: "cloud_guidance"
    }
  ]
}) }}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
      <h1 id="h1_title" class="govuk-heading-xl">Cloud guidance</h1>
      </div>
      <div class="govuk-grid-column-one-third">
        <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            Page content
          </h2>
          <nav id="nav" role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a href="#what_are_the_five_pillars">
                  Explanation of the 5 pillars
                </a>
              </li>
              <li>
                <a href="#five_pillars_ho">
                  How the pillars fit in to Home Office guidance
                </a>
              </li>
              <li>
                <a href="#further_resources">
                  Further reading
                </a>
              </li>
            </ul>
          </nav>
        </aside>
      </div>
      <div class="govuk-grid-column-one-third">
        <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            Related pages
          </h2>
          <nav id="nav" role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a href="aws_training.html">
                  AWS training
                </a>
              </li>
              <li>
                <a href="azure_training.html">
                  Azure training
                </a>
              </li>
            </ul>
          </nav>
        </aside>
      </div>
    </div>

    <h2 id="training_in_the_ho" class="govuk-heading-l">How does cloud training work in the Home Office?</h2>
    <p class="govuk-body">The Public Cloud Team works alongside the Chief Technology Officer's (CTO) office to organise
      cloud
      training for staff. The Home Office does not provide cloud training directly. Instead, we have training
      offered by our cloud providers such as Amazon Web Services and Microsoft Azure and cloud training websites
      such as Cloudacademy.</p>

    <!-- Hidden back to nav link </a> -->
    <a href="#nav" class="govuk-skip-link">Back to start of navigation tree</a>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 id="types_of_training" class="govuk-heading-l">Types of training offered:</h2>
    <h3 class="govuk-heading-m">Virtual Classroom Training from AWS and Microsoft Azure</h3>
    <p class="govuk-body">For live virtual training we have events provided by AWS and Microsoft Azure. The Public Cloud
      Team can
      coordinate ad hoc training days taught by cloud professionals. See our ‘upcoming training section’ for
      future training days. We can also organise <a href="https://aws.amazon.com/gameday/" class="govuk-link">cloud
        game days</a> as and when required, so please contact us if this is something you are interested in.
      Email: <a href="mailto:public.cloud@homeoffice.gov.uk">public.cloud@homeoffice.gov.uk</a></p>

    <h3 class="govuk-heading-m">Online learning with CloudAcademy</h3>
    <p class="govuk-body"><a href="https://cloudacademy.com" class="govuk-link">CloudAcademy</a> is an online resource
      that can
      provide a learning path for AWS, Azure and Google Cloud, and we can arrange for you to view the full list
      of courses to help assess whether it would be suitable for you and/or your team. To arrange access to
      Cloud Academy, please contact us through email: <a
        href="mailto:public.cloud@homeoffice.gov.uk">public.cloud@homeoffice.gov.uk</a></p>

    <h3 class="govuk-heading-m">Online learning with AWS and Microsoft Azure</h3>
    <p class="govuk-body">AWS and Microsoft also have their own learning pathways that are free. This training is a
      similar style
      to CloudAcademy training where you can watch videos and carry out practical training/labs at your own
      pace.</p>

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li><a class="govuk-link" href="aws_training.html">How to book AWS training</a></li>
        <li><a class="govuk-link" href="azure_training.html">How to book Azure training</a></li>
      </ul>
  
    <a href="#h1_title" class="govuk-link">Back to top</a>

  </main>

</div>
{% endblock %}

{% block footer %}

{{ govukFooter({
  navigation: [
    {
      title: "Service index",
      columns: 2,
      items: [
        {
          href: "home",
          text: "HO - CCoE"
        },
        {
          href: "cloud_training",
          text: "Cloud Training"
        },
        {
          href: "cloud_guidance",
          text: "Cloud Guidance"
        },
        {
          href: "#4",
          text: "Public Cloud Services"
        }
      ]
    }
  ]
}) }}

{% endblock %}